


<ion-view view-title="Health notes">
  <ion-content class="padding">

  <div id="pressure"  style="max-width: 480px; height: 300px;"></div>

  <div class=""  id="nuevaPresion">
    <div class="item item-divider balanced" ng-click="addOne=!addOne">
      New Pressure <i class="ion-android-add-circle"></i>
    </div>

    <div class="item item-text-wrap" ng-if="addOne">
      <div >
        <label class="item item-input ">
          <span class="input-label">High</span>

          <input type="number" placeholder="120" max="999" name="high" ng-model="newPressure.high">
        </label>
        <label class="item item-input ">
          <span class="input-label">Low</span>
          <input type="number" placeholder="80"  max="999" name="low" ng-model="newPressure.low">
        </label>
        <div ng-click="nuevo=false;">
        <button class="button button-small button-full button-positive" ng-class="{'disabled':!newPressure.high || !newPressure.low}" ng-click="addPressure()">
          Save Pressure
        </button>
        <div>
      </div>
    </div>

  </div>
</div>
    <ion-list>
<!--
          <ion-item ng-repeat="item in items track by $index">
      <div class="row">
        <div class="col high" >  {{item.aliados_content}}</div>
          <div class="col low">  <img src="{{item.cmoganas_image}}"></div>
          <div class="col col-50 fecha">  {{item.acumulacinde_content}}</div>
          <ion-option-button class="button-assertive" ng-click="remove(item)">
          Delete
        </ion-option-button>
      </div>

      </ion-item>
-->
      <ion-item ng-repeat="item in items track by $index">
      <div class="row">
        <div class="col high" >  {{item.high}}</div>
          <div class="col low">  {{item.low}}</div>
          <div class="col col-50 fecha">  {{item.date}}</div>
          <ion-option-button class="button-assertive" ng-click="remove(item)">
          Delete
        </ion-option-button>
      </div>

      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
