<ion-view view-title="Account">
  <ion-content>
      <div class="item item-text-wrap" >
      <div class="card">
        <div class="item item-divider">
          <h2>Profiles</h2>
        </div>

        <div class="list perfiles" ng-repeat="perfil in perfiles " ng-click="sendFeedback()" >
<div class="perfil" ng-if="perfil.name">
					<span>Name:{{perfil.name}}  </span>		
          <span>Age:{{perfil.age}} </span>  
          <span>Initial Weight:{{perfil.weight}}</span>
</div>
        </div>
<div >
  <!--  esto esta oculto mientras soluciono la parte de añadir mas perfiles y el ordenamiento de dichos perfiles-->
     <div class=" item item-divider balanced item-icon-right" ng-click="addOne=!addOne" style="text-align:left !important;">
      Add Profile <i class="ion-android-add-circle"></i>
    </div>

    <div class="item item-text-wrap perfilnuevo" ng-if="addOne">
      <div >
        <div class="row">
          <div class="col col-55">
            <label class="item item-input ">
                <span class="input-label">Name</span>
                <input type="text"   name="name" ng-model="nuevoPerfil.name">
              </label>
          </div>
          <div class="col">
          	  <label class="item item-input ">
                <span class="input-label">Age</span>
                <input type="number" max="99" name="age" ng-model="nuevoPerfil.age">
              </label>
          </div>
        </div>

        <div ng-click="nuevo=false;">
           <button class="button button-small button-full button-positive" ng-class="{'disabled':!nuevoPerfil.name || !nuevoPerfil.age}" ng-click="addProfile()">
                  Save Profile
            </button>
        <div>

      </div>
    </div>

</div>
      </div>
    </div>
    <ion-list>
<hr>
<button class="button button-full" ng-click="borrarDatos()"
ng-class="{'button-calm':dataErased,'button-assertive':!dataErased}">
  Reset data
</button>

    </ion-list>


  </ion-content>
</ion-view>
