<?xml version="2.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.dailyidea280563" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Health metrics</name>
  <icon src="LOGIYO.png"/>
  <description>
A simple  health tracking app, meassure your weight,blood pressure and more.
</description>
  <author email="info@perrocallejero.co" href="http://www.perrocallejero.co/">
   Hugo Torres
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="SplashScreen" value="LOGIYO.png" />
  <preference name="AutoHideSplashScreen" value="false" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="android">
    <icon src="img/LOGIYO.png" density="ldpi"/>
    <icon src="img/LOGIYO.png" density="mdpi"/>
    <icon src="img/LOGIYO.png" density="hdpi"/>
    <icon src="img/LOGIYO.png" density="xhdpi"/>
    <icon src="img/LOGIYO.png" density="xxhdpi"/>
    <icon src="img/LOGIYO.png" density="xxxhdpi"/>
    <splash src="img/LOGIYO.png" density="land-ldpi"/>
    <splash src="img/LOGIYO.png" density="land-mdpi"/>
    <splash src="img/LOGIYO.png" density="land-hdpi"/>
    <splash src="img/LOGIYO.png" density="land-xhdpi"/>
    <splash src="img/LOGIYO.png" density="land-xxhdpi"/>
    <splash src="img/LOGIYO.png" density="land-xxxhdpi"/>
    <splash src="img/LOGIYO.png" density="port-ldpi"/>
    <splash src="img/LOGIYO.png" density="port-mdpi"/>
    <splash src="img/LOGIYO.png" density="port-hdpi"/>
    <splash src="img/LOGIYO.png" density="port-xhdpi"/>
    <splash src="img/LOGIYO.png" density="port-xxhdpi"/>
    <splash src="img/LOGIYO.png" density="port-xxxhdpi"/>
  </platform>
</widget>
