/* Empty. Add your own CSS if you like */
.done{ border:thin solid green;}

ion-item.item{padding:0px;}
.fecha {
    background: slategray;
    color: white;
}
.high{font-size:31px;
	border-right: thin dashed red;
}
.low{font-size:22px;}
.weight{font-size:34px !important;}